@font-face {
  font-family: 'NexusSansOT';
  src: url('fonts/NexusSansOT-Regular.woff2') format('woff2'),
  url('fonts/NexusSansOT-Regular.woff') format('woff'),
  url('fonts/NexusSansOT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  line-height: 80px;
  color: white;
  text-align: center;
}
.col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 20px;
}
.col.left {
  height: calc(100vh - 80px);
  width: 350px;
  background: #eceeec;
  overflow: auto;
}
.col.left .ui.collapsing.table,
.col.left .input {
  width: 100%;
}
.col.left tr[data-id] {
  cursor: pointer;
}

.col.right {
  width: calc(100% - 350px);
  font-family: NexusSansOT, sans-serif;
}